[submodule "pack/plugins/start/fzf-lua"]
	path = pack/plugins/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/start/lualine.nvim"]
	path = pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/colorschemes/opt/kanagawa.nvim"]
	path = pack/colorschemes/opt/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim.git
